* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: grey;
  position: relative;
}

.emoji-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.emoji-div .image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.emoji-div #btn {
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  transition: all 0.5s;
}

.emoji-div #btn:hover {
  background-color: #000;
  color: #fff;
}
